.Lesson {
  padding: 20px 24px;
  border: 1px solid var(--color-line);

  &--rounded {
    border-radius: 16px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-title {
      @include typo-heading-7;
      color: var(--color-black);
    }

    &-materials {
      display: flex;
      align-items: center;
      gap: 24px;

      &-material {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        color: var(--color-dark-grey);
        @include typo-caption-medium;
      }
    }
  }
}
