.ProgramBlock {
  &__header {
    padding: 20px 24px;
    border: 1px solid var(--color-line);
    border-radius: 16px 16px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--rounded {
      border-radius: 16px;
      transition: border-radius 0.3s ease;
    }

    &-content {}

    &-info {
      display: flex;
      align-items: center;
      gap: 24px;

      &-arrow {
        cursor: pointer;
      }
    }

    &-month {
      color: var(--color-medium-grey);
      @include typo-caption-semi;
      margin-bottom: 4px;
    }

    &-description {
      @include typo-heading-6;
      color: var(--color-black);
    }
  }

  &__content {
    > :nth-child(n + 1) {
      border-top: none;
    }

    > :last-child {
      border-radius: 0 0 16px 16px;
    }
  }
}
