.Stage {
  background-color: var(--color-white);
  padding: 24px 32px;
  border-radius: 16px;

  &-stage {
    &-order {
      color: var(--color-medium-grey);
      @include typo-caption-semi;
      margin-bottom: 4px;
    }

    &-description {
      color: var(--color-black);
      @include typo-heading-5;
    }
  }

  &__wrapper {
    padding-top: 24px;
  }
}
